@CHARSET "UTF-8";


div.selector div.inputText span span.value{
	float: left;
	width: 345px;
}

div.req div.inputText span span.value{
	float: left;
	width: 365px;
}

div.short div.inputText span span.value{
	float: left;
	width: 130px;
}

.security.selectorText{
	clear: both;
	float: left;
	width: 326px;
}

.security.selectorButton{
	width: 30px;
	float: left;
	padding-top: 24px
}

.security.selectorButton.keyImage button {
    background-image: url(../resources/key_2009.png);
    background-repeat: no-repeat;
}

.security.selectorButtonNoLabel{	
	float: left;
	padding-top: 10px
}

.security.delete{
	width: 30px;
	float: left;
	padding-top: 20px
}

.xforms-output .xforms-value{
	background-color: #FFF !important;
	border: #FFF !important;
}

.xforms-readonly input {
background-color: #f8f8f8;
border: #f8f8f8;
color: #333333;
}
	
.inputText{
	clear: both;
	width: 380px;
	float: left;
}

.dateInput span span .xforms-value {
	clear: both;
	width: initial !important;
	float: left;
}

.dateInput span span button{
	float: left;
	margin-top: 5px;
}

.inputTextNoButton{
	clear: both;
	width: 356px;
	float: left;
}

.dateInputFrontPage .xforms-value {
    margin: 6px 0 0;
    min-height: 13px;
    margin-right: 2px;
    padding: 2px ;
    width: 170px !important;
}

.dateInputFrontPage span span button{
	float: left;
	margin-top: 5px;
}

.dateInputFrontPage .aid-button {
  width: 23px !important;
}

.required{
	color: red;
	float: left;
	clear: both;
	padding-top: 20px;
}